{% extends "base.html" %}
{% load static %}

{% block Title %}
	Profile
{% endblock %}
{% block link %}
	rel="stylesheet" href="{% static "homepage.css" %}"
{% endblock %}

{% block body %}
	
    {% for i in profiles %}
        <div class="Title">
            <h1>{{ i.name }}</h1>
            <h2>Biography</h2>
            <p>{{ i.summary }}</p>
        </div>

        <div>
            <table class="second-section">
                <tr>
                    <th>Skills</th>
                    <th>Experience</th>
                    <th>Education</th>
                </tr>
                <tr>
                    <td>{{ i.skills | linebreaksbr }}</td>
                    <td>{{ i.experience }}</td>
                    <td>{{ i.education }}</td>
                </tr>
            </table>
        </div>
        
        <div class="third-section">
            <table>
                <tr>
                    <th>E-Mail:</th>
                    <th>Phone number:</th>
                </tr>
                <tr>
                    <td> {{ i.email }}</td>
                    <td> {{ i.phone_number }}</td>
                </tr>
            </table>
        </div>
    {% endfor %}

{% endblock %}
