{% extends "base.html" %}
{% load static %}

{% block Title %}
	Profile
{% endblock %}
{% block link %}
	rel="stylesheet" href="{% static "homepage.css" %}"
{% endblock %}

{% block body %}
	
    {% for i in profiles %}
        <div class="Title">
            <h1>{{ i.name }}</h1>
            <h2>Biography</h2>
            <p>{{ i.summary }}</p>
        </div>
    
        <div class="skills">
            <h2>Skills</h2>
            <p>{{ i.skills|linebreaksbr }}</p>
        </div>
    
        <div class="experience">
            <h2>Experience</h2>
            <p>{{ i.experience }}</p>
        </div>
    
        <div class="education">
            <h2>Education</h2>
            <p>{{ i.education }}</p>
        </div>
    {% endfor %}

{% endblock %}
