*{color: white}
body{background-image: url("WrbocU4-black-wallpaper-1080p.jpg");}
.Title{
    border: 1px solid darkkhaki;
    white-space: pre-line;
}
.Title h1{
    font-variant: small-caps;
    font-size: 50px;
    text-align: center;
    height: 40px;
}
.Title h2{
    font-family: Georgia, serif;
    font-size: 36px;
    height: 10px;
    padding-left: 50px;

}
.Title p{
    font-family: "Trebuchet MS", sans-serif;
    font-size: 24px;
    padding-left: 75px;
}

.skills {
    padding-top: 100px;
    padding-left: 10%;

    width: fit-content;
    text-align: center;
    position: static;
    display: inline-block;
}
.skills h2{
    text-align: center;
    font-size: 30px;
}
.skills p{
    font-size: 20px;
}

.experience {
    padding-top: 50px;
    padding-left: 50px;

    width: fit-content;
    text-align: center;
    position: static;
    display: inline-block;
}
.experience h2{
    text-align: center;
    font-size: 30px;
}
.experience p{
    font-size: 20px;
}

.education {
    padding-top: 50px;
    padding-left: 10%;
    width: fit-content;
    text-align: center;
    position: static;
    display: inline-block;
}
.education h2{
    text-align: center;
    font-size: 30px;
}
.education p{
    font-size: 20px;
}
